<div class="row">
   <div class="col-md-6 col-md-offset-3">
<%= form_for @user, :html => {:multipart => true} do |f|%>
Username: <%= f.text_field :username %><br>
About me: <%= f.text_field :about_me, class: 'form-control' %>
Avatar:  <%= f.label :avatar, "Add Avatar"%><br>
    <%= f.file_field :avatar %><br>
<br>
<%= f.submit "Submit" , class: "btn btn-primary" %>
<%end%>
  </div>
</div>