<% provide(:title, @user.username)%>

<% if current_user == @user %>
<h2>Hi, <%= current_user.username%>!</h2>
<hr>
YOUR DETAILS
<br>

YOUR AVATAR
<br>
<img width="280" height="200" src="<%= @user.avatar %>"/>
<br>
About me:
<%=current_user.about_me%>
<br>
<hr>
YOUR VIDEOS

As Challenger:

<div id="challenger_videos">
  <ul class="list-group">
    
      
    <li class="list-group-item">
      <%@user.videos.each do |video|%>
      <%if video.public_arena_as_challenger%>
      <button type="button" class="btn btn-default show-user">
        <span class="badge"><%=video.votes.count%>
        </span>
        <%=video.title %>
        <br>
        <div class="wrapper">
          <video width="160" height="80">
          <source src= <%=video.data_content %> type="video/mp4"/>
          </video>
          <div class="glyphicon glyphicon-play">
          </div>
        </div>
      </button>
      <%end%>
      <%end%>
    </li>
      
    
  </ul>
</div>

As Challengee:

<div id="challengee_videos">
  <ul class="list-group">
    <%@user.videos.each do |video|%>
      <%if video.public_arena_as_challengee%>
        <li class="list-group-item"><span class="badge"><%=video.votes.count%></span><%=video.title %>
          <div class=”jumbotron”>
            <video width="160" height="80">
              <source src= <%=video.data_content %> type="video/mp4"/>
              </video>
            </div>
          </li>
      <%end%>
    <%end%>
  </ul>
</div>
    <%else%>
        <%end%>
