<% provide(:title, @user.username)%>

<% if current_user == @user %>
<h2>Hi, <%= current_user.username%>!</h2>
<hr>
YOUR DETAILS
<br>
About me:
<%=current_user.about_me%>
<hr>
YOUR VIDEOS
As Challenger:

<div id="challenger_videos">
  <ul class="list-group">
    <%@user.videos.each do |video|%>
      <%if video.public_arena_as_challenger%>
        <li class="list-group-item"><span class="badge"><%=video.votes.count%></span><%=video.title %>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play">
            <video width="160" height="80">
              <source src= <%=video.data_content %> type="video/mp4"/></span>
              </video>
            </button>
          </li>
      <%end%>
    <%end%>
  </ul>
</div>

As Challengee:

<div id="challengee_videos">
  <ul class="list-group">
    <%@user.videos.each do |video|%>
      <%if video.public_arena_as_challengee%>
        <li class="list-group-item"><span class="badge"><%=video.votes.count%></span><%=video.title %>
          <div class=”jumbotron”>
            <video width="160" height="80">
              <source src= <%=video.data_content %> type="video/mp4"/>
              </video>
            </div>
          </li>
      <%end%>
    <%end%>
  </ul>
</div>
    <%else%>
        <%end%>
