<div class="row">
<!--   <div class="col-md-6 col-md-offset-3"> -->


<div class="jcarousel-wrapper">
  <div class="jcarousel" data-jcarousel="true">
      <ul style="left: 0px; top: 0px;">
      
<li >
<table id="index-video" class="table-responsive active">
      <th id="index-status" >TopThat Categories
      </th>
      <tr>
        <td class="index-open" >
          Awaiting A Challenger:
        </td>
      </tr>
      <tr>
        <td>
          <p>Enter the arena!<br>Upload a video to accept challenge</p>
        </td>
      </tr>
      <tr>
        <td class="index-in-battle" >
          In Battle:
        </td>
      </tr>
      <tr>
        <td>
          <p>View the arena!<br>Vote for your favorite video</p>
        </td>
      </tr>
      <tr>
        <td class="index-close" >
          Battles of Yesteryear:
        </td>
      </tr>
      <tr>
        <td>
          <p>Review the battle!<br>View previous battles</p>
          </td>
      </tr>
      
      <tr>
        <td  class="index-view-btn">
          <button type="button" class = "btn btn-index index-open"><%= link_to 'About TopThat', "#" %></button>
        </td>
      </tr>

    </table>
  </li>

  <%@public_arenas.each do |arena|%>
  <% if arena.open? %>
  <li >
    <table id="index-video" class="table-responsive">
      <th id="index-status" class="index-open" colspan="2">AWAITING A CHALLENGER
      </th>
      <tr>
        <td>
          <video width="120" height="60">
          <source src= <%=arena.challenger_video.data_content %> type="video/mp4"/>
          </video>
        </td>
        <td>
          <div class="index-open-topthatlogo">
          <%= image_tag("topthatlogo3", width: "60", height: "60") %>
          </div>
        </td>
      </tr>
      <tr>
      <td colspan="2" class="centered" >
        <button type="button" class="versus round">VS</button>
      </td>
      </tr>
      <tr>
        <td><%= arena.challenger_video.title %></td>
        <td class="centered"><i>Can you top that?</i>
        </td>
      </tr>
      <tr>
        <td><%= image_tag(arena.challenger_video.user.avatar, width: "50", height: "50")%> <%= link_to arena.challenger_video.user.username, user_path(arena.challenger_video.user)%>
        </td>
        <td>
        </td>
      </tr>
         <tr>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="index-view-btn">
          <button type="button" class = "btn btn-index index-open"><%= link_to 'Step into the Arena', edit_video_public_arena_path(arena.challenger_video, arena) %></button>
        </td>
      </tr>

    </table>
</li>
<% end %>

  <% if arena.in_battle? %>
<li >
    <table id="index-video" class="table-responsive">
      <th id="index-status" class="index-in-battle" colspan="2">IN BATTLE
      </th>
      <tr>
        <td>
          <video width="120" height="60">
          <source src= <%=arena.challenger_video.data_content %> type="video/mp4"/>
          </video>
        </td>
        <td>
          <video width="120" height="60">
          <source src= <%=arena.challengee_video.data_content %> type="video/mp4"/>
          </video>
        </td>
      </tr>
      <tr>
      <td colspan="2" class="centered" >
        <button type="button" class="versus round">VS</button>
      </td>
      </tr>
      <tr>
        <td><%= arena.challenger_video.title %></td>
        <td><%= arena.challengee_video.title %></td>
      </tr>
      <tr>
        <td><%= image_tag(arena.challenger_video.user.avatar, width: "50", height: "50")%> <%= link_to arena.challenger_video.user.username, user_path(arena.challenger_video.user)%>
        </td>
        <td><%= image_tag(arena.challengee_video.user.avatar, width: "50", height: "50")%> <%= link_to arena.challengee_video.user.username, user_path(arena.challengee_video.user)%>
        </td>
      </tr>
         <tr>
        <td>Votes: <%= arena.challenger_video.votes.count%>
        </td>
        <td>Votes: <%= arena.challengee_video.votes.count%>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="index-view-btn">
          <button type="button" class="btn btn-index index-in-battle"><%= link_to 'View Arena', video_public_arena_path(arena) %></button>
        </td>
      </tr>

    </table>
</li>
<% end %>

  <% if arena.close? %>
<li >
    <table id="index-video" class="table-responsive">
      <th id="index-status" class="index-close" colspan="2">BATTLES OF YESTERYEAR
      </th>
      <tr>
        <td class="index-winner" >
          <% if arena.challengee_video.winner %> TopThat Winner!
          <% elsif arena.tie? %><i>Tied</i>
          <% end %>
        </td>
        <td class="index-winner" >
          <% if arena.challenger_video.winner %> TopThat Winner!
          <% elsif arena.tie? %><i>Tied</i>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          <div class="wrapper">
          <video width="120" height="60">
          <source src= <%= arena.challenger_video.data_content %> type="video/mp4"/>
          </video>
        </div>
        </td>
        <td>
          <div class="wrapper">
          <video width="120" height="60">
          <source src= <%= arena.challengee_video.data_content %> type="video/mp4"/>
          </video>
        </div>
        </td>
      </tr>

      <tr>
      <td colspan="2" class="centered" >
        <button type="button" class="versus round">VS</button>
      </td>
      </tr>

      <tr>
        <td ><%= arena.challenger_video.title %></td>
        <td ><%= arena.challengee_video.title %></td>
      </tr>

      <tr>
        <td ><%= image_tag(arena.challenger_video.user.avatar, width: "50", height: "50")%> <%= link_to arena.challenger_video.user.username, user_path(arena.challenger_video.user)%>
        </td>
        <td ><%= image_tag(arena.challengee_video.user.avatar, width: "50", height: "50")%> <%= link_to arena.challengee_video.user.username, user_path(arena.challengee_video.user)%>
        </td>
      </tr>

      <tr>
        <td >Votes: <%= arena.challenger_video.votes.count%>
        </td>
        <td >Votes: <%= arena.challengee_video.votes.count%>
        </td>
      </tr>

      <tr>
        <td colspan="2" class="index-view-btn">
          <button type="button" class = "btn btn-index index-close"><%= link_to 'Review Battle', video_public_arena_path(arena.challenger_video,arena.challenger_video.public_arena_as_challenger) %></button>
        </td>
      </tr>

    </table>
</li>
<% end %>

<% end %>




      </ul>
  </div>
  <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>
  <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>

</div>

<p class="centered centered-text">or</p>

<div class="col-md-6 col-md-offset-4">
<%if @user %>
  <button type="button" class = "btn btn-challenge"><%= link_to 'challenge the world', new_user_video_path(@user, @video) %></button>
<%else%>
  <button type="button" class = "btn btn-challenge"><%= link_to 'challenge the world', login_path %></button>
<%end%>
</div>
</div>

