<!-- Go to www.addthis.com/dashboard to customize your tools -->
Share this battle! <div class="addthis_sharing_toolbox"></div>


<%if @public_arena.close? && @challengee_video %>
  <h5>Voting is now closed</h5>
<%elsif @public_arena.close? && @challengee_video == nil%>
  <h5>Arena is closed.</h5>
<%end%>



<%= @challenger_video.title %><br>

<div class=”jumbotron”>
<video width="320" height="240" controls>
      <source src= <%=@challenger_video.data_content %> type="video/mp4"/>
 Your browser does not support the video tag.
</video>
</div>

<%= image_tag(@user.avatar, width: "50") %> <%= link_to @user.username, user_path(@user)%><br>

<% if @public_arena.in_battle? %>
    <div id= 'challenger_votes'><%= @challenger_video.votes.count%></div>
    <%= link_to image_tag("arrow_up.gif", width: "50"), video_votes_path(@challenger_video, @vote), id: "challenger_vote_link",  method: :post%><br><br>

    <%= link_to image_tag("arrow_down.gif", width: "50"), video_votes_path(@challengee_video, @vote), id: "challengee_vote_link", method: :post %><br>
    <div id= 'challengee_votes'><%= @challengee_video.votes.count%></div>
<%end%>

<% if @public_arena.close? && @challengee_video %>
  <div id= 'challenger_votes'><%= @challenger_video.votes.count%></div>
    <%= image_tag("arrow_up.gif", width: "50", :class => "arrow_down") %><br><br>
    <%= image_tag("arrow_down.gif", width: "50", :class =>"arrow_down") %><br>
  <div id= 'challengee_votes'><%= @challengee_video.votes.count%></div>
<%end%>

<%if @challengee_video%>

  <%= @challengee_video.title %><br>

<div class=”jumbotron”>
<video width="320" height="240" controls>
      <source src= <%=@challengee_video.data_content %> type="video/mp4"/>
 Your browser does not support the video tag.
</video>
</div>
<%= image_tag(@challengee_user.avatar, width: "50")%> <%= link_to @challengee_user.username, user_path(@user)%>
<%end%>

<% if @public_arena.open? %>
    <%= link_to 'Step into the Arena', edit_video_public_arena_path(@challenger_video,@public_arena) %>
<%end%>

